
<ul>
	<% @events.each do |event| %>


		<li>
			<% event_name = raw event.name%>
			<%= link_to( event_name, event_path(event.id)) %>
			<%= event.begins_at.strftime("%m/%d/%Y") %>
			<%= raw event.price %>

			<% unless event.begins_at.nil? %>
			<%= (event.begins_at.hour > 12)? "#{event.begins_at.hour % 12} PM": "#{event.begins_at.hour % 12} AM" %> / 
			<% end %>
			<%= event.age_restriction %>

		</li>
	<% end %>
</ul>

	
<ul class="navigation">
	<li><%= link_to("This Week", week_events_path()) %></li>
	<li><%= link_to("Venue List", venues_path()) %></li>
</ul>
