
<div data-role="page">

    <div data-role="header" data-theme="d">
        <h1>All Events<%= @venue? " at #{@venue.name}" : ''%></h1>
    </div>

    <div data-role="content" data-theme="d">
        <ul data-role="listview" data-inset="true">
				<li data-role="list-divider"><%= @events.first.venue.name%></li>
				<% cur_venue = @events.first.venue.name%>
				<% @events.each do |event| %>
					<% if event.venue.name != cur_venue
							cur_venue = event.venue.name
						%>
					
						<li data-role="list-divider"><%= event.venue.name%></li>
					<% end %>
					<li>
						<% event_name = raw event.name%>
						<h1><%= link_to( event_name, event_path(event.id)) %></h1>
						<p><strong><%= event.venue.name %></strong></p> 
						<p><%= event.price %></p>
						<h2 class="ui-li-aside"><%= (event.begins_at.hour > 12)? "#{event.begins_at.hour % 12} PM": "#{event.begins_at.hour % 12} AM" %> / <%= event.age_restriction %></h2>
					</li>
				<% end %>
					<li data-role="list-divider"></li>
				</ul>
    </div>

		<div data-role="footer" data-theme="d">
			<div data-role="navbar" data-theme="d">
				<ul>
					<li><%= link_to("This Week", week_events_path()) %></li>
					<li><%= link_to("Venue List", venues_path()) %></li>
				</ul>
			</div>
		</div>
</div>