
<div class="wrapper">
<% if @venue %>
	<h1><%= @venue.name %></h1>
<%
	else
%>
	<h1>Events in Iowa City</h1>
<%
		mixed = true
		cur_day = ""
	end 
%>
<div class="events">
	<% altswitch = false %>
	<% @events.each do |event| %>
		<% 
		 	#price = short_price(event.prices)
			item = (altswitch)? "'item alt'" : "'item'" 
			altswitch = !altswitch
		%>
		<% if mixed && event_day(event.begins_at) != cur_day %>
			<div class="header"><%= event.begins_at.strftime("%A, %B #{event.begins_at.day.ordinalize}")%></div>
		<% 
				cur_day = event_day(event.begins_at)
			 end 
		%>
		<div class=<%= item %> onclick=<%="window.location='#{event_path(event.id)}'"%>>
			<div class="bullet">
				<ul>
					<li class="bullet day venue">
						<%= (mixed)? event.venue.display_name : event_day(event.begins_at)%>
					</li>
					<li class='price date bullet'>
						<%= 
						(mixed)? Event.price_helper(event.price) : event.begins_at.strftime("%b #{event.begins_at.day.ordinalize}") %>
					</li>
					<li class='time bullet'>
						<%= am_pm(event.begins_at) %>
					</li>
				</ul>
			</div>
			<div class='info'>


				<h2 class='event title'><%= event.name %></h2>
				<p class='description'><%= (event.description == "")? "No more info available." : event.description %></p>
				<div class="details">
					<ul>
						<li class='event age'><%= Event.age_helper(event.age_restriction) %></li>
						<li class='price'><%= Event.price_helper(event.price)[0,20] %></li>
					</ul>
				</div>
				

			</div>
	
		</div>
	<% end %>

</div>
</div>
<!--ul class="navigation">
	<li><%= link_to("This Week", week_events_path()) %></li>
	<li><%= link_to("Venue List", venues_path()) %></li>
</ul-->
