<% if @venue %>
	<h1><%= @venue.name %></h1>
<% end %>
<div class="events">

	<% @events.each do |event| %>
		<div class="item">
			<div class="header">
					<h3 class='event title'>
						<%= link_to( event.name, event_path(event.id)) %>
					</h3>
			</div>
			<div class='details'>
					<p class='event info'>
						<span class='event date'><%= event.begins_at.strftime("%A, %b #{event.begins_at.day.ordinalize}, %Y") %></span>
						<span class='event price'><%= event.price_render() %></span>

					<% unless event.begins_at.nil? %>
						<span class='event time'><%= (event.begins_at.hour > 12)? "#{event.begins_at.hour % 12} PM": "#{event.begins_at.hour % 12} AM" %></span>
					<% end %>
						<span class='event age'><%= event.age_restriction %></span>
					</p>
			</div>
		</div>
	<% end %>

</div>
	
<ul class="navigation">
	<li><%= link_to("This Week", week_events_path()) %></li>
	<li><%= link_to("Venue List", venues_path()) %></li>
</ul>
