<%= link_to("<< Back to List", {:action  => 'index'}, :class  => 'back-link')%>

<div class="event new">
	<h2>New Event<%= @venue? " at #{@venue.name}" : ''%></h2>
	
	<%= form_for(:event, :url => {:action => "create", :id => @event.id}) do |f| %>
		<table summary="event form fields">
			<tr>
				<th>Name</th>
				<td><%= f.text_field(:name)%></td>
			</tr>
			<tr>
				<th>Description</th>
				<td><%= f.text_field(:description)%></td>
			</tr>

			<tr>
				<th>Date/Time</th>
				<td>
					<%= f.datetime_select(:begins_at) %>

				</td>
			<tr>
				<th>Price</th>
				<td><%= f.text_field(:price)%></td>
			</tr>
			<tr>
				<th>Age Restriction</th>
				<td><%= f.text_field(:age_restriction)%></td>
			</tr>
			<tr>
				<th>Venue</th>
				<td><%= !@venue? f.select(:venue_id, options_for_select(@venues_arr)) : "#{@venue.name}"%>
			</tr>
		</table>
			
		<div class="form-buttons">
			<%= submit_tag("Create event")%>
		</div>
		
	<% end %>
	
</div>