<div class="individual">

	<h1><%= @event.name%></h1>

	<h2><%= link_to( "@ #{@event.venue.name}", @event.venue.site_url) %></h2>

		<ul>
			<li><%= event_day_indiv(@event.begins_at) %></li>
			<li><%= @event.begins_at.strftime("%b #{@event.begins_at.day.ordinalize}") %></li>
			<li><%= short_price(@event.prices) %></li>
			<li><%= @event.age_restriction %></li>
		</ul>

	<p><%= strip_tags @event.description %></p>

</div>

