<style type='text/css'>
th, td
{
	padding-right: 40px;
}
td.description
{
	max-width: 500px;
}
</style>
<div class="event list">
	<h2>Events<%= @venue? link_to(" at #{@venue.name}", venue_path(@venue.id)) : ''%> Today</h2>
	<% if(params[:venue_id].nil? == false)%>
	<%= link_to("All events happening today", today_events_path())%>
	<% end%>
	
	<table class="listing" summary="event list">
		<tr class="header">
			<th>Name</th>
			<th>Venue</th>
			<th>Begins At</th>
			<th>Description</th>
			<th>Price</th>
			<th>Age Restriction</th>
		</tr>
		<% @events.each do |event| %>
		<tr>
			<td><%= event.name%></td>
			<td><%= link_to(event.venue.name, venue_events_path(event.venue.id)) %></td>
			<td><%= (event.begins_at.hour > 12)? "#{event.begins_at.hour % 12} PM": "#{event.begins_at.hour % 12} AM" %></td>
			<td class="description"><%= raw event.description.slice(0,255) %> <%= link_to("...Read More", event_path(event.id))%> </td>
			<td><%= event.price %></td>
			<td><%= event.age_restriction %></td>
		</tr>
		<% end %>
	</table>
</div>

<div data-role="page">

    <div data-role="header" data-theme="d">
        <h1>Events<%= @venue? link_to(" at #{@venue.name}", venue_path(@venue.id)) : ''%> Today</h1>
    </div>

    <div data-role="content" data-theme="d">
        <ul data-role="listview" data-inset="true">
				<li data-role="list-divider"><%= @events.first.venue.name%></li>
				<% cur_venue = @events.first.venue.name%>
				<% @events.each do |event| %>
					<% if event.venue.name != cur_venue%>
						<li data-role="list-divider"><%= event.venue.name%></li>
					<% end %>
					<li>
						<h1><%= link_to( event.name, event_path(event.id)) %></h1>
						<p><strong><%= event.venue.name %></strong></p> 
						<p><%= event.price %></p>
						<h2 class="ui-li-aside"><%= (event.begins_at.hour > 12)? "#{event.begins_at.hour % 12} PM": "#{event.begins_at.hour % 12} AM" %> / <%= event.age_restriction %></h2>
					</li>
				<% end %>
					<li data-role="list-divider"></li>
				</ul>
    </div>

		<div data-role="footer" data-theme="d">
			<div data-role="navbar" data-theme="d">
				<ul>
					<li><%= link_to("This Week", week_events_path()) %></li>
					<li><%= link_to("Venue List", venues_path()) %></li>
				</ul>
			</div>
		</div>
</div>