<style type='text/css'>
th, td
{
	padding-right: 40px;
}
</style>
<div class="event list">
	<h2>Events<%= @venue? " at #{@venue.name}" : ''%> Today</h2>
	<table class="listing" summary="event list">
		<tr class="header">
			<th>Name</th>
			<th>Venue</th>
			<th>Begins At</th>
			<th>Description</th>
			<th>Price</th>
			<th>Age Restriction</th>
		</tr>
		<% @events.each do |event| %>
		<tr>
			<td><%= event.name%></td>
			<td><%= event.venue.name %></td>
			<td><%= (event.begins_at.hour > 12)? "#{event.begins_at.hour % 12} PM": "#{event.begins_at.hour % 12} AM" %></td>
			<td><%= event.description %></td>
			<td><%= event.price %></td>
			<td><%= event.age_restriction %></td>
		</tr>
		<% end %>
	</table>
</div>