<div data-role="page">

    <div data-role="header" data-theme="d">
        <h1>Events<%= @venue? link_to(" at #{@venue.name}", venue_path(@venue.id)) : ''%> This Week</h1>
    </div>

    <div data-role="content" data-theme="d">
        <ul data-role="listview" data-inset="true">
				<li data-role="list-divider"><%= @events.first.begins_at.strftime("%A")%></li>
					<% cur_day = @events.first.begins_at.wday %>
					<% @events.each do |event| %>
						<%
						if (event.begins_at.wday != cur_day)
							cur_day = event.begins_at.wday
						%>
						<li data-role="list-divider"><%= event.begins_at.strftime("%A")%></li>
					<% end %>
					<li>
						<% event_name = raw event.name%>
						<h1><%= link_to( event_name, event_path(event.id)) %></h1>
						<p><strong><%= event.venue.name %></strong></p> 
						<p><%= event.price %></p>
						<h2 class="ui-li-aside"><%= (event.begins_at.hour > 12)? "#{event.begins_at.hour % 12} PM": "#{event.begins_at.hour % 12} AM" %> / <%= event.age_restriction %></h2>
					</li>
					<% end %>
					<li data-role="list-divider"></li>
				</ul>
    </div>

    <div data-role="footer" data-theme="d">
        <h4></h4>
    </div>
</div>
