<%= link_to("<< Back to List", {:action  => 'index'}, :class  => 'back-link')%>

<div class="venue new">
	<h2>Edit venue</h2>
	
	<%= form_for @venue do |f| %>
		<table summary="venue form fields">
			<tr>
				<th>Name</th>
				<td><%= f.text_field(:name)%></td>
			</tr>
			<tr>
				<th>Address</th>
				<td><%= f.text_field(:address)%></td>
			</tr>
			<tr>
				<th>Site</th>
				<td><%= f.text_field(:site_url)%></td>
			</tr>
			<tr>
				<th>Event List</th>
				<td><%= f.text_field(:event_list_url)%></td>
			</tr>

			
		</table>
		
		<div class="form-buttons">
			<%= submit_tag("Update venue")%>
		</div>
		
	<% end %>
	
</div>