<div data-role="page" data-theme="d">
	<div data-role="header" data-theme="d">
		<h2>Venue</h2>
	</div>
	<div data-role="content">
	<table summary="venue detail view">
		<tr>
			<th>Name</th>
			<td><%= @venue.name%></td>
		</tr>
		<tr>
			<th>Address</th>
			<td><%= @venue.address%></td>
		</tr>
		<tr>
			<th>Site</th>
			<td><%= @venue.site_url %></td>
		</tr>
		<tr>
			<th>Display Name</th>
			<td><%= @venue.display_name %></td>
		</tr>
		
	</table>
	</div>
	<div data-inline="true">
		<%= link_to "Event List", venue_events_path(@venue.id), :"data-role"=>"button" %>
	</div>
	
</div>